<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--
  Default suite: single browser, tests run in parallel.
  Browser is controlled by -Dbrowser=<chrome|firefox|safari> (default: chrome).
  For cross-browser runs use testng-crossbrowser.xml or the CI matrix.
-->
<suite name="SauceDemoSuite" parallel="tests" thread-count="5">

    <test name="Login">
        <classes>
            <class name="Tests.LoginPageTests"/>
        </classes>
    </test>

    <test name="Homepage">
        <classes>
            <class name="Tests.HomepageTests"/>
        </classes>
    </test>

    <test name="Cart">
        <classes>
            <class name="Tests.CartTests"/>
        </classes>
    </test>

    <test name="Checkout">
        <classes>
            <class name="Tests.CheckoutTests"/>
        </classes>
    </test>

    <test name="E2E Test">
        <classes>
            <class name="Tests.SauceDemoTest"/>
        </classes>
    </test>

</suite>
